<h1>Login</h1>

<%= form_for(@user, url: login_path, method: :post) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit 'login', class: 'btn pink' %>
  </div>
<%- end %>

<div style="margin-top: 30px">
  <%= link_to 'Create User', new_user_path, class: 'btn' %>
</div>
