<p id="notice"><%= notice %></p>

<div id="room" data-room-id="<%= @room.id %>"></div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<%= javascript_pack_tag 'room-component' %>
