<!DOCTYPE html>
<html>
  <head>
    <title>ReactRails5</title>
    <%= csrf_meta_tags %>

    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav id="navbar">
        <div className="nav-wrapper">
          <a href="#" className="brand-logo">ChatApp</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <%- if logged_in? %>
              <%= link_to 'Logout', logout_path, method: :delete %>
            <%- else %>
              <%= link_to 'Login', login_path %>
            <%- end %>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <p id="notice"><%= notice %></p>

      <%= yield %>
    </div>
  </body>
</html>
